<!--The content below is only a placeholder and can be replaced.-->
<hms-header [headerModel]="headerModel"></hms-header>

<section class="container-fluid">
    <section class="row">
      <nav class="col-sm-2">
        <hms-side-bar [menuItems]="sidebarMenuItems"></hms-side-bar>
      </nav>
      <article class="col-sm-10">
        <section class="row">
          <div id="body" class="col-sm-12">
            <router-outlet></router-outlet>
          </div>
        </section>
      </article>
    </section>
</section>

<hms-footer></hms-footer>

